<div class="address" id="shipping">
  <h2><%= Spree.t(:shipping_address) %></h2>
  <%= render :partial => 'spree/shared/email/address', :locals => {:address => shipment.address} %>
</div>

<table data-hook="shipment_details">
  <tbody id="line-items" "data-hook" => "">
    <tr data-hook="shipment_details_line_items_headers">
      <th><%= Spree.t(:item_description) %></th>
      <th class="qty number"><%= Spree.t(:qty) %></th>
      <th><%= Spree.t(:status) %></th>
    </tr>
    <% shipment.line_items.each do |item| %>
      <tr data-hook="shipment_details_line_item_row" class="<%=cycle('', 'alt')%>">
        <td class="name">
          <%= item.variant.product.name %>
          <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
        </td>
        <td class="qty number"><%= item.quantity %></td>
        <td><%= Spree.t('shipped') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
